
/* -------  app container  ------- */
.appContainer {
  width:96%;
  height:100%;
  max-width:1444px;
  margin:0 auto;
  display:flex;
  align-items:center;
  flex-direction:column;
}

/* -------  header container  ------- */
.headerContainer {
  width:100%;
  flex-basis:25%;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* -------  header  ------- */
.header {
  font-family:monospace;
  font-size:3.33em;
}

/* -------  bullets list  ------- */
.bulletList {
  width:100%;
  flex-basis:50%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;

}

/* -------  bullet container  ------- */
.bulletItem {
  height:50px;
  display:flex;
  justify-content:space-between;
}

/* -------  title container  ------- */
.titleContainer {
  flex-basis:14%;
  min-width:160px;
  text-align:right;
}
.title {
  font-weight:600;
  font-size:1.2em;
}
.subtitle {
  font-size:1em;
}

.graphContainer {
  flex-basis:82%;
}

/* -------  color menu  ------- */
.colorMenu {
  width:100%;
  flex-basis:25%;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* -------  color list  ------- */
.colorList {
  display:flex;
}
/* -------  color item  ------- */
.colorItem {
  padding:0 2em;
  cursor:pointer;
}
.colorItem:not(:last-child) {
  border-right:1px solid #070707;
}
